@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
    Weights: 400, 600, 700;
  }

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
  }

  body{
    background-color: hsl(0, 0%, 8%);
    font-size: 14px;
    color: hsl(0, 0%, 100%);
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .row{
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    border-radius: 1rem;
    padding: 1.25rem;
    width: 500px;
    max-width: 500px;
  }

  .imageContainer {
      border-radius: 100%;
      margin: 0.25rem;
    }

  .city{
    color:hsl(75, 94%, 57%);
    font-weight: 600;
    margin: 1rem;
  }

  .subtitle{
    margin: 1rem;
    font-size: 0.75rem;
  }

  .shareButton{
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 0.75rem 0.375rem;
    display: block;
    border-radius: 10px;
    margin: 0.75rem 0.5rem;
    font-weight: 600;
  }

  .shareButton:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
  }

  
  